body{
margin: 0px;
padding: 0px;
max-width: 100%;
background-color: rgb(96, 16, 143);
}

.scrollview{
margin: 0px;
padding: 0px;

width: 100%;
height: 90%;
display: flex;
flex-direction: column;
overflow: scroll;
/* background-color: rgba(166, 226, 223, 0.094); */


}


::-webkit-scrollbar {
width: 0px;
}

#dashboardnav {

margin: 0px;
padding: 70px 0px 0px;

height: auto;
width: auto;
position: fixed;
top: 0px;
left: 0px;
right: 0px;

display: flex;
flex-direction: column;
background-color: rgba(255, 255, 255, 0.913);
backdrop-filter: blur(3px);
}

#totaltasks {
margin: 5px auto;
padding: 5px;

height: auto;
width: 100%;


display: flex;
flex-direction: row;

}

#totaltasks p {
margin: 5px auto;
padding: 5px;

height: auto;
width: auto;

display: flex;
flex-direction: row;

font-family: 'Segoe UI';
font-weight: lighter;
font-size: 16px;
 
}



#totaltasks p span{
margin: 0px 6px;
padding: 1px;

height: auto;
width: auto;

display: flex;

font-family: 'Segoe UI';
font-size: 16px;
color: rgb(55, 4, 87);
     
}

.dnav{
margin: 10px auto;
width: 300px;
z-index: 5;
}



/* -------------end--of--globals-------------------- */



#pheader{
margin: 10px 10px 10px;
padding: 10px;
text-align: left;

font-size: 20px;
font-family:'segoe Ui';
font-weight: lighter;

color: rgb(0, 0, 0);
}


#contentboxview{
margin: 30vh 0px 0px;
padding: 0px;

width: auto;
height: auto;  
}

#contentbox{
margin: 23vh auto 10px;
padding: 10px;

width: 80vw;
height: auto;

display: flex;
flex-wrap: wrap;

justify-self: center;
border-radius: 4px;

}

#contentbox #taskheader{
margin: 1px 5px 10px;
padding: 10px;
text-align: left;

font-size: 13px;
font-family:'segoe Ui';
/* font-weight: bold; */
color: rgb(169, 9, 233);
}

.whatsapptask{
margin:10px 0px 50px ;
padding: 0px;
width: 100%;
height: 600px;
border-radius: 7px;
border: solid 1px rgb(6, 214, 6);

}


.wspnav{
margin: 0px;
padding: 3px  0px 0px;
width: 100%;
height: 34px;

font-size: 18px;
font-family:'segoe Ui';
/* font-weight: lighter; */
color: white;
text-align: center;

display: flex;
align-content: center;
justify-content: center;
background-color: rgb(6, 214, 6);

border-radius: 3px 3px 0px 0px;
}

.wspnav span{
margin: 0px;
padding: 0px 5px;
}


.taskitem{
margin: 20px auto;
padding: 0px;
height: auto;
max-width: 90%;


border: solid 1px silver;
border-radius: 5px;
background-color: white;
}


.taskitem img{
margin: 0px;
padding: 0px;
height: auto;
width: 100%;


object-fit: cover;
object-position: center;

border-radius:4px 4px 0px 0px;

}



.taskitem .itemstats{
margin: 0px;
padding: 5px;

width: 100%;
height: auto;

display: flex;
flex-direction: row;

}


.taskitem .itemstats .status{
margin: auto 5px auto 0%;
padding: 5px;

font-size: 13px;
font-family:'segoe Ui';
/* font-weight: lighter; */
color: rgb(86, 83, 83);
text-align: left;


}
.itemstats .status .indicator{
margin:   0px;
padding: 0px; 

/* background-color: yellow; */


}


.itemstats .status span{
margin:   0px;
padding: 0px; 

font-size: 11px;

}



.taskitem .itemstats .timecount{
margin: auto 0% auto 14%;
padding: 5px;

font-size: 12px;
font-family:'segoe Ui';
font-weight: lighter;
color: black;
text-align: right;

}


.taskitem button{
margin: 20px auto;
padding: 4px 20px;

width: 86%;
height: auto;

justify-self: center;
justify-content: center;
align-content: center;
display: flex;
flex-direction: row;
font-size: 18px;
font-family: 'Segoe UI';
font-weight: lighter;
color: white;

outline: none;
border: solid 1px white;
border-radius: 5px;
background-color: rgb(6, 214, 6);
align-content: center;
align-self: center;




}


.taskitem h3{
margin: 0px;
padding: 0px 5px;

display: flex;
flex-direction: row;

}


/* ///////////////// End Of WhatsApp Tasks Styleing////////////////// */




#facebooktask{
margin: 30px 0px;
padding: 0px;
width: 100%;
height: 600px;
border-radius: 7px;
border: solid 1px rgb(4, 0, 255);


}


.fbnav{
margin: 0px;
padding: 3px  0px 0px;
width: 100%;
height: 34px;

font-size: 18px;
font-family:'segoe Ui';
/* font-weight: lighter; */
color: white;
text-align: center;

display: flex;
align-content: center;
justify-content: center;
background-color: blue;

border-radius: 3px 3px 0px 0px;
}

.wspnav span{
margin: 0px;
padding: 0px 5px;
}


.fbtaskitem{
margin: 20px auto;
padding: 0px;
height: auto;
max-width: 90%;

background-color: white;
border: solid 1px silver;
border-radius: 5px;
}


.fbtaskitem img{
margin: 0px;
padding: 0px;
height: auto;
width: 100%;


object-fit: cover;
object-position: center;

border-radius:4px 4px 0px 0px;

}


.fbtaskitem .itemstats{
margin: 0px;
padding: 5px;

width: 100%;
height: auto;
display: flex;
flex-direction: row;

}


.fbtaskitem .itemstats .status{
margin: auto 5px auto 0%;
padding: 5px;





font-size: 13px;
font-family:'segoe Ui';
/* font-weight: lighter; */
color: rgb(86, 83, 83);
text-align: left;
}
.itemstats .status .indicator{
margin:   0px;
padding: 0px; 

/* background-color: yellow; */


}


.itemstats .status span{
margin:   0px;
padding: 0px; 

font-size: 11px;

}



.fbtaskitem .itemstats .timecount{
margin: auto 0% auto 14%;
padding: 5px;


font-size: 12px;
font-family:'segoe Ui';
/* font-weight: lighter; */
color: black;
text-align: right;

}


.fbtaskitem button{
margin: 20px auto;
padding: 4px 20px;

width: 86%;
height: auto;

justify-self: center;
justify-content: center;
align-content: center;
display: flex;
flex-direction: row;
font-size: 18px;
font-family: 'Segoe UI';
font-weight: lighter;
color: white;

outline: none;
border: solid 1px white;
border-radius: 5px;
background-color: blue;
align-content: center;
align-self: center;




}




.fbtaskitem h3{
margin: 0px;
padding: 0px 5px;


display: flex;
flex-direction: row;



}



/* ///////////////// End Of Facebook Tasks Styleing////////////////// */




#instagramtask{
margin: 30px 0px;
padding: 0px;
width: 100%;
height: 600px;
border-radius: 7px;
border: solid 1px rgb(211, 5, 205);


}





.instanav{
margin: 0px;
padding: 3px  0px 0px;
width: 100%;
height: 34px;

font-size: 18px;
font-family:'segoe Ui';
/* font-weight: lighter; */
color: white;
text-align: center;

display: flex;
align-content: center;
justify-content: center;
background-color: rgb(211, 5, 205);

border-radius: 3px 3px 0px 0px;
}

.instanav span{
margin: 0px;
padding: 0px 5px;
}


.instataskitem{
margin: 20px auto;
padding: 0px;
height: auto;
max-width: 90%;

background-color: white;
border: solid 1px silver;
border-radius: 5px;
}


.instataskitem img{
margin: 0px;
padding: 0px;
height: auto;
width: 100%;


object-fit: cover;
object-position: center;

border-radius:4px 4px 0px 0px;

}


.instataskitem .itemstats{
margin: 0px;
padding: 5px;

width: 100%;
height: auto;
display: flex;
flex-direction: row;

}


.instataskitem .itemstats .status{
margin: auto 5px auto 0%;
padding: 5px;

font-size: 13px;
font-family:'segoe Ui';
/* font-weight: lighter; */
color: rgb(86, 83, 83);
text-align: left;
}
.itemstats .status .indicator{
margin:   0px;
padding: 0px; 

/* background-color: yellow; */


}


.itemstats .status span{
margin:   0px;
padding: 0px; 

font-size: 11px;

}



.instataskitem .itemstats .timecount{
margin: auto 0% auto 14%;
padding: 5px;


font-size: 12px;
font-family:'segoe Ui';
/* font-weight: lighter; */
color: black;
text-align: right;

}


.instataskitem button{
margin: 20px auto;
padding: 4px 20px;

width: 86%;
height: auto;

justify-self: center;
justify-content: center;
align-content: center;
display: flex;
flex-direction: row;
font-size: 18px;
font-family: 'Segoe UI';
font-weight: lighter;
color: white;




outline: none;
border: solid 1px white;
border-radius: 5px;
background-color: rgb(211, 5, 205);
align-content: center;
align-self: center;




}


.instataskitem h3{
margin: 0px;
padding: 0px 5px;


display: flex;
flex-direction: row;



}



/* ///////////////// End Of Instagram Tasks Styleing////////////////// */



#twittertask{
margin: 30px 0px;
padding: 0px;
width: 100%;
height: 600px;
border-radius: 7px;
border: solid 1px rgb(1, 125, 226);


}


.twtnav{
margin: 0px;
padding: 3px  0px 0px;
width: 100%;
height: 34px;

font-size: 18px;
font-family:'segoe Ui'; 
color: white;
text-align: center;
display: flex;
align-content: center;
justify-content: center;
background-color:rgb(1, 125, 226);

border-radius: 3px 3px 0px 0px;
}

.twtnav span{
margin: 0px;
padding: 0px 5px;
}


.twttaskitem{
margin: 20px auto;
padding: 0px;
height: auto;
max-width: 90%;

background-color: white;
border: solid 1px silver;
border-radius: 5px;
}


.twttaskitem img{
margin: 0px;
padding: 0px;
height: auto;
width: 100%;


object-fit: cover;
object-position: center;

border-radius:4px 4px 0px 0px;

}


.twttaskitem .itemstats{
margin: 0px;
padding: 5px;

width: 100%;
height: auto;
display: flex;
flex-direction: row;

}


.twttaskitem .itemstats .status{
margin: auto 5px auto 0%;
padding: 5px;

font-size: 13px;
font-family:'segoe Ui'; 
color: rgb(86, 83, 83);
text-align: left;
}
.itemstats .status .indicator{
margin:   0px;
padding: 0px; 


}


.itemstats .status span{
margin:   0px;
padding: 0px; 

font-size: 11px;

}



.twttaskitem .itemstats .timecount{
margin: auto 0% auto 14%;
padding: 5px;
font-size: 12px;
font-family:'segoe Ui';
color: black;
text-align: right;

}


.twttaskitem button{
margin: 20px auto;
padding: 4px 20px;

width: 86%;
height: auto;

justify-self: center;
justify-content: center;
align-content: center;
display: flex;
flex-direction: row;
font-size: 18px;
font-family: 'Segoe UI';
font-weight: lighter;
color: white;


outline: none;
border: solid 1px white;
border-radius: 5px;
background-color: rgb(1, 125, 226);
align-content: center;
align-self: center;




}




.twttaskitem h3{
margin: 0px;
padding: 0px 5px;


display: flex;
flex-direction: row;



}




/* ///////////////// End Of Twitter Tasks Styleing////////////////// */




#youtubetask{
margin: 30px 0px;
padding: 0px;
width: 100%;
height: 600px;
border-radius: 7px;
border: solid 1px rgb(212, 5, 5);


}


.yutnav{
margin: 0px;
padding: 3px  0px 0px;
width: 100%;
height: 34px;

font-size: 18px;
font-family:'segoe Ui';
/* font-weight: lighter; */
color: white;
text-align: center;

display: flex;
align-content: center;
justify-content: center;
background-color:rgb(212, 5, 5);

border-radius: 3px 3px 0px 0px;
}

.yutnav span{
margin: 0px;
padding: 0px 5px;
}


.yuttaskitem{
margin: 20px auto;
padding: 0px;
height: auto;
max-width: 90%;

background-color: white;
border: solid 1px silver;
border-radius: 5px;
}


.yuttaskitem img{
margin: 0px;
padding: 0px;
height: auto;
width: 100%;


object-fit: cover;
object-position: center;

border-radius:4px 4px 0px 0px;

}


.yuttaskitem .itemstats{
margin: 0px;
padding: 5px;

width: 100%;
height: auto;
display: flex;
flex-direction: row;

}


.yuttaskitem .itemstats .status{
margin: auto 5px auto 0%;
padding: 5px;





font-size: 13px;
font-family:'segoe Ui';
/* font-weight: lighter; */
color: rgb(86, 83, 83);
text-align: left;
}
.itemstats .status .indicator{
margin:   0px;
padding: 0px; 

/* background-color: yellow; */


}


.itemstats .status span{
margin:   0px;
padding: 0px; 

font-size: 11px;

}

.yuttaskitem .itemstats .timecount{
margin: auto 0% auto 14%;
padding: 5px;


font-size: 12px;
font-family:'segoe Ui';
/* font-weight: lighter; */
color: black;
text-align: right;

}


.yuttaskitem button{
margin: 20px auto;
padding: 4px 20px;

width: 86%;
height: auto;

justify-self: center;
justify-content: center;
align-content: center;
display: flex;
flex-direction: row;
font-size: 18px;
font-family: 'Segoe UI';
font-weight: lighter;
color: white;


outline: none;
border: solid 1px white;
border-radius: 5px;
background-color: rgb(212, 5, 5);
align-content: center;
align-self: center;




}


.yuttaskitem h3{
margin: 0px;
padding: 0px 5px;


display: flex;
flex-direction: row;



}






/* ///////////////// End Of Youtube Tasks Styleing////////////////// */

@media (min-width: 612px) {



#contentbox{
margin: 23vh auto 10px;
padding: 10px;

width: 100vw;
height: auto;

display: flex;
flex-wrap: wrap;

justify-self: center;
align-items: center;
border-radius: 4px;

}

.dnav{
margin: 10px auto;
width: 300px;
}

#twittertask{
margin: 30px auto;
padding: 0px;
width: 304px;
height: 600px;
border-radius: 7px;
border: solid 1px rgb(12, 168, 211);


}


#instagramtask{
margin: 30px auto;
padding: 0px;
width: 304px;
height: 600px;
border-radius: 7px;
border: solid 1px rgb(211, 5, 205);


}

#facebooktask{
margin: 30px auto;
padding: 0px;
width: 304px;
height: 600px;
border-radius: 7px;
border: solid 1px rgb(4, 0, 255);


}
.whatsapptask{
margin:30px auto ;
padding: 0px;
width: 304px;
height: 600px;
border-radius: 7px;
border: solid 1px rgb(6, 214, 6);

}



#youtubetask{
margin:30px auto ;
padding: 0px;
width: 304px;
height: 600px;
border-radius: 7px;
border: solid 1px rgb(212, 5, 5);


}



}