
/* color: rgb(0, 106, 255) */

/* Mobile view */
@media (max-width: 543px) {


#homepagebody{
margin: 0px;
padding: 0px;
height: 100%;
width: 100%;
background-image: url(https://res.cloudinary.com/promotion-army/image/upload/e_blur:1472,q_23,r_0/v1653299650/Promotion%20Army%20Images/2005054_shzgip.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

#homepagebox{
margin: 619px 0px 0px 0px;
padding: 150px 0px 0px;

}


#mainbtnbox{
margin: 10px 0px;
padding:  5px 0px ;
height: 200px;
width: 100%;


display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
z-index: 4; 


}

#mainbtnbox button{
margin: 10px auto;
padding:  15px ;
width: 56vw;

justify-content: center;
align-items: center;


font-family: 'segoe UI';
font-weight: lighter;
font-size: 17px;
color: white;


display: flex;
background-color: rgb(0, 106, 255) ;
backdrop-filter: blur(5px);
border-radius: 4px;
border:0px;
outline: none;
}

#mainbtnbox button:hover{ 

background-color: rgba(12, 105, 204, 0.955) ;

}


.contentbox{
margin: 5px 0px 0px;
padding: 50px 2px 5px;
display: flex;
flex-direction: row;
flex-wrap: wrap; 

/* background-color: white; */
}

.addsCard{
margin: 50px auto;
padding: 0px;
height: auto;
width: auto;

display: flex;
}

.addsCard img{
margin: 0px;
padding: 0px;
height: 450px;
width: 95vw;

object-fit: cover;
object-position: center;
border-radius: 3px;
}


.prompbox{
margin: 80px 0px;
padding: 0px;
width: 100%;
height: 120px;


background-image: 
url(https://res.cloudinary.com/promotion-army/image/upload/e_blur:1524,q_22/v1653299652/Promotion%20Army%20Images/1600px_COLOURBOX6730027_tdasn8.jpg);
background-position: center;
}


.boxbackground{
margin: 0px;
padding: 0px;
width: 100%;
min-height: 100%;

display: flex; 
background-color: rgba(2, 19, 105, 0.435);

}


.prompbox .boxbackground p{
margin: auto;
padding: 5px;

font-size: 26px;
font-weight: lighter;
font-family:'segoe UI';
color: rgba(234, 245, 247, 0.972); 
text-align: center;
display: flex;

justify-self: center;
} 



#calltoactionbox{
margin: 0px  ;
padding: 0px;

height: auto;
width: 100%;

background-image: url( https://res.cloudinary.com/promotion-army/image/upload/v1653376765/Promotion%20Army%20Images/clay-banks-POzx_amnWJw-unsplash_wh2wr6.jpg);

background-position: center;
background-size: cover; 
}

#calltoactionboxkground{
margin: auto;
padding: 5px;
max-width: 100vw;
height: 100%;

display: flex;
flex-direction: row;
flex-wrap: wrap;

align-items: center;
justify-content: center;

backdrop-filter: blur(0px);
}

#calltoactionbox .calltoaction{
margin: 7px auto ;
padding: 4px;

height: 150px;
width: 120px;

display: flex;
flex-direction: column;

align-items: center;
justify-content: center;
border-radius: 3px;
background-color: rgba(21, 61, 66, 0.426);
backdrop-filter: blur(3px);

}

.calltoaction p{
margin: 0px;
padding: 10px 1px 8px;

font-size: 18px;
font-family: 'segoe UI';
/* font-weight: lighter; */
color: white;
line-height: 25px;
text-align: center;
}



#promotbtnbox{
margin: 20px 0px;
padding: 20px;

width: 100%;

display: flex; 
}

.promotbtn{
margin: auto;

padding: 10px 5px 15px;
width: 73vw;
background-color: rgb(0, 106, 255);

font-size: 21px;
font-weight: lighter;
font-family:'segoe UI';
color: rgb(239, 215, 242);

outline: none;
border: 0px;

border-radius: 3px;
}

.promotbtn:hover{ 

background-color: rgba(12, 105, 204, 0.955) ;

}

}
/* END OF MOBILE STYLING */

/* for tablet view */
@media (min-width: 544px) {

#homepagebody{
margin: 0px;
padding: 0px;
height: 100%;
width: 100%;
background-image: url(https://res.cloudinary.com/promotion-army/image/upload/e_blur:1472,q_23,r_0/v1653299650/Promotion%20Army%20Images/2005054_shzgip.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;  
}

#homepagebox{
margin: 619px 0px 0px 0px;
padding: 600px 0px 0px;

}


#mainbtnbox{
margin: 0px 0px;
padding:  5px 0px ;
height: 200px;
width: 100%;


display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;

z-index: 4; 


}

#mainbtnbox button{
margin: 10px auto;
padding:  15px ;
width: 56vw;

justify-content: center;
align-items: center;


font-family: 'segoe UI';
font-weight: lighter;
font-size: 17px;
color: white;


display: flex;
background-color: rgb(0, 106, 255) ;
backdrop-filter: blur(5px);
border-radius: 4px;
border:0px;
outline: none;
}

#mainbtnbox button:hover{ 

background-color: rgba(12, 105, 204, 0.955) ;

}


.contentbox{
margin: 5px 0px 0px;
padding: 50px 2px 5px;
display: flex;
flex-direction: row;
flex-wrap: wrap; 


}

.addsCard{
margin: 50px auto;
padding: 0px;

width: 77vw;
height: 850px;

display: flex;

}

.addsCard img{
margin: 0px;
padding: 0px;
height: 100%;
width: 100%;

object-fit: cover;
object-position: center;
border-radius: 12px;
}


.prompbox{
margin: 80px 0px;
padding: 0px;
width: 100%;
height: 120px;


background-image: 
url(https://res.cloudinary.com/promotion-army/image/upload/e_blur:1524,q_22/v1653299652/Promotion%20Army%20Images/1600px_COLOURBOX6730027_tdasn8.jpg);
background-position: center;
}


.boxbackground{
margin: 0px;
padding: 0px;
width: 100%;
min-height: 100%;

display: flex;

background-color: rgba(29, 50, 165, 0.277);

}


.prompbox .boxbackground p{
margin: auto;
padding: 5px;

font-size: 33px;
font-weight: lighter;
font-family:'segoe UI';
color: white; 
text-align: center;
display: flex;

justify-self: center;
} 



#calltoactionbox{
margin: 0px  ;
padding: 30px 0px;

height: auto;
width: 100%;

background-image: url( https://res.cloudinary.com/promotion-army/image/upload/v1653376765/Promotion%20Army%20Images/clay-banks-POzx_amnWJw-unsplash_wh2wr6.jpg);

background-position: center;
background-size: cover; 
}

#calltoactionboxkground{
margin: auto;
padding: 5px;
max-width: 100vw;
height: 100%;

display: flex;
flex-direction: row;
flex-wrap: wrap;

align-items: center;
justify-content: center;

backdrop-filter: blur(0px);

}

#calltoactionbox .calltoaction{
margin: 7px auto ;
padding: 4px;

height: 290px;
width: 230px;

display: flex;
flex-direction: column;

align-items: center;
justify-content: center;
border-radius: 3px;
background-color: rgba(21, 61, 66, 0.426);
backdrop-filter: blur(3px);

}

.calltoaction p{
margin: 0px;
padding: 20px 1px;

font-size: 30px;
font-family: 'segoe UI';
font-weight: lighter;
line-height: 50px;
word-spacing: 6px;
color: white;
line-height: 45px;
text-align: center;
}



#promotbtnbox{
margin: 20px 0px;
padding: 20px;

width: 100%;

display: flex; 
}

.promotbtn{
margin: auto;

padding: 10px 5px 15px;
width: 73vw;
background-color: rgb(0, 106, 255);

font-size: 21px;
font-weight: lighter;
font-family:'segoe UI';
color: rgb(239, 215, 242);

outline: none;
border: 0px;

border-radius: 3px;
}

.promotbtn:hover{ 

background-color: rgba(12, 105, 204, 0.955) ;

}




}

/* Desktop styling */
@media (min-width: 1020px) {

#homepagebody{
margin: 0px;
padding: 0px;
height: 100%;
width: 100%;
background-image: url(https://res.cloudinary.com/promotion-army/image/upload/e_blur:1472,q_23,r_0/v1653299650/Promotion%20Army%20Images/2005054_shzgip.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;  
}

#homepagebox{
margin: 619px 0px 0px 0px;
padding: 150px 0px 0px;

}


#mainbtnbox{
margin: 0px 0px;
padding:  5px 0px ;
height: 200px;
width: 100%;


display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;

z-index: 4; 


}

#mainbtnbox button{
margin: 10px auto;
padding:  15px ;
width: 56vw;

justify-content: center;
align-items: center;


font-family: 'segoe UI';
font-weight: lighter;
font-size: 17px;
color: white;


display: flex;
background-color: rgb(0, 106, 255) ;
backdrop-filter: blur(5px);
border-radius: 4px;
border:0px;
outline: none;
}

#mainbtnbox button:hover{ 

background-color: rgba(12, 105, 204, 0.955) ;

}


.contentbox{
margin: 5px 0px 0px;
padding: 50px 2px 5px;
display: flex;
flex-direction: row;
flex-wrap: wrap; 


}

.addsCard{
margin: 50px auto;
padding: 0px;

width: 300px;
height: 450px;

display: flex;

}

.addsCard img{
margin: 0px;
padding: 0px;
height: 100%;
width: 100%;

object-fit: cover;
object-position: center;
border-radius: 3px;
}


.prompbox{
margin: 80px 0px;
padding: 0px;
width: 100%;
height: 160px;


background-image: 
url(https://res.cloudinary.com/promotion-army/image/upload/e_blur:1524,q_22/v1653299652/Promotion%20Army%20Images/1600px_COLOURBOX6730027_tdasn8.jpg);
background-position: center;
}


.boxbackground{
margin: 0px;
padding: 0px;
width: 100%;
min-height: 100%;

display: flex;

background-color: rgba(29, 50, 165, 0.277);

}


.prompbox .boxbackground p{
margin: auto;
padding: 5px;

font-size: 50px;
font-weight: lighter;
font-family:'segoe UI';
color: white; 
text-align: center;
display: flex;

justify-self: center;
} 



#calltoactionbox{
margin: 0px  ;
padding: 30px 0px;

height: auto;
width: 100%;

background-image: url( https://res.cloudinary.com/promotion-army/image/upload/v1653376765/Promotion%20Army%20Images/clay-banks-POzx_amnWJw-unsplash_wh2wr6.jpg);

background-position: center;
background-size: cover; 
}

#calltoactionboxkground{
margin: auto;
padding: 5px;
max-width: 100vw;
height: 100%;

display: flex;
flex-direction: row;
flex-wrap: wrap;

align-items: center;
justify-content: center;

backdrop-filter: blur(0px);

}

#calltoactionbox .calltoaction{
margin: 7px auto ;
padding: 4px;

height: 290px;
width: 230px;

display: flex;
flex-direction: column;

align-items: center;
justify-content: center;
border-radius: 3px;
background-color: rgba(21, 61, 66, 0.426);
backdrop-filter: blur(3px);

}

.calltoaction p{
margin: 0px;
padding: 20px 1px;

font-size: 30px;
font-family: 'segoe UI';
font-weight: lighter;
line-height: 50px;
word-spacing: 6px;
color: white;
line-height: 45px;
text-align: center;
}



#promotbtnbox{
margin: 20px 0px;
padding: 20px;

width: 100%;

display: flex; 
}

.promotbtn{
margin: auto;

padding: 10px 5px 15px;
width: 73vw;
background-color: rgb(0, 106, 255);

font-size: 21px;
font-weight: lighter;
font-family:'segoe UI';
color: rgb(239, 215, 242);

outline: none;
border: 0px;

border-radius: 3px;
}

.promotbtn:hover{ 

background-color: rgba(12, 105, 204, 0.955) ;

}

}

/* END OF DESKTOP STYLING */