#bizprofile{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    /* background-color: white; */
}

#profilepphotobox{
    margin: 20px auto 0px;
    padding: 20px;

    width: 100px;
    height: 100px;
    display: flex;
    background-color: white;
    border: solid 10px rgba(232, 232, 235, 0.328);
    box-shadow: 1px 1px 10px 1px  rgba(163, 163, 167, 0.51);

    border-radius: 100px;
}


#profilepphotobox img{
    margin: 0px;
    padding: 0px;

    width: 100px;
    height: 100px;
    
    object-fit: cover;
    object-position: center;

    }

 #profile section{
        margin: 30px auto 10px;
        padding: 10px;
        width: 86%;
        height: auto;

        display: flex;
        flex-direction: column;
 
        border-radius: 10px;
        background-color: rgba(215, 170, 241, 0.059);
  }


#promoterinfoheader{
    margin: 20px auto 2px;
    padding: 2px;

    font-size: 20px;
    font-weight: lighter;
    font-family: 'segoe UI' sans-serif;
}


.secbox{
        margin: 20px auto;
        padding: 15px 10px;
        
        width: 84%;
        height: auto;

    
        border-radius: 4px;
        background-color: white;
        box-shadow: 1px 1px 3px 1px rgba(192, 192, 192, 0.273);

 }

 .secbox .list{
        margin: 0px ;
        padding:  10px 1px;
        
      align-items: left;

      
       align-items: center;

       
 }
 
   
 .secbox .list h5{


        margin: 0px;
        padding:  0px 4px;
        
       font-size: 12px;
       font-weight: lighter;
       font-family:  sans-serif;
       text-align: left;
       color: rgb(64, 71, 71);

       display: flex; 
       flex-wrap: nowrap;

       align-items: center;
 }



 .secbox .list span{
        margin:0px 8px 0px 10px;
        padding: inherit;
        
       font-size: 13px;
       font-weight: lighter;
       font-family:   'Segoe UI',   sans-serif;
       color: rgb(71, 14, 95);

       display: flex;
       flex-direction: row;
       
 }

 

 #edditprofilebtn{
        margin: 15px auto 20px;
        padding: 10px;

        height: auto;
        width: 300px;

        border: solid 1px white;
        background-color: rgba(228, 156, 250, 0.562);
        color: rgb(72, 71, 71);
        outline: none;

        border-radius: 6px;
 }



  @media (min-width: 612px){



    .secbox{
        margin: 20px auto;
        padding: 15px 10px;
        
        width: 50%;
        height: auto;

        border-radius: 4px;
        background-color: white;
        box-shadow: 1px 1px 3px 1px rgba(192, 192, 192, 0.302);

 } 



    }