
#loginpage{
    margin: 0px;
    padding: 5px;


    max-width: 100%;
    height: auto;


    background-color: white;
}


#loginform{

    margin: 50px auto 30px;
    padding: 50px 10px 0px;


    width: 300px;
    height: 350px;

    display: flex;
    flex-direction: column;

    align-self: center;
    justify-self: center;

    border-radius: 5px;

    
    box-shadow: 1px 1px 5px 2px rgba(211, 211, 212, 0.95);

    background-color: white;
 
}



#loginform input{

    margin: 17px auto;
    padding: 3px 10px;


    width: 250px;
    height: 35px;

  
    align-self: center;
    justify-self: center;

    border-radius: 6px;

    border: solid 1px rgba(145, 146, 145, 0.583);

    outline: none; 
    font-family: 'segoe Ui';
    font-weight: lighter;
    font-size: 15px;
    color: rgb(39, 38, 38);
}


#loginform button{

    margin: 20px auto;
    padding: 7px 10px; 
    width: 270px; 
 
    align-self: center;
    justify-self: center;

    border-radius: 4px;
    border: 0px;

    outline: none;
    background-color: rgb(206, 9, 228);


    font-family: 'segoe UI' ;
    font-weight: lighter;
    font-size: 20px;
    color: white;
}


 #referencetext{
    margin: 30px auto auto;
    padding: auto;

    font-size: 14px;
    font-family: 'segoe UI';
    font-weight: lighter;

}
 



#referencetext span{
    margin: auto;
    padding: auto;

    font-size: 14px;
    font-family: 'segoe UI';


    color: rgb(3, 40, 184);
    cursor: pointer;
}


#forgotpass{
    margin: 30px auto 15px;
    padding: auto;

    font-size: 13px;
    font-family: 'segoe UI';
    font-weight: lighter;

    color: rgb(3, 9, 184);
    cursor: pointer;
} 